<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @zasoby_jaskula.nazwa %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @zasoby_jaskula.cena %>
</p>

<%= link_to 'Edit', edit_zasoby_jaskula_path(@zasoby_jaskula) %> |
<%= link_to 'Back', zasoby_jaskulas_path %>
