<%= form_with(model: transakcje_jaskula, local: true) do |form| %>
  <% if transakcje_jaskula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transakcje_jaskula.errors.count, "error") %> prohibited this transakcje_jaskula from being saved:</h2>

      <ul>
      <% transakcje_jaskula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :transakcje_jaskula_username %>
  </div>

  <div class="field">
    <%= form.label :kwota %>
    <%= form.number_field :kwota, id: :transakcje_jaskula_kwota %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data, id: :transakcje_jaskula_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
